.footer {
  background-color: black;
  color: whitesmoke;
  font-size: 18px;
  font-weight: 200;
  text-transform: uppercase;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: flex-end;  
}